<div class="mt-4">
    <h3 style="color:#100404">Trang này là các khoản phí mà hộ nào cũng phải đóng {{info}}</h3>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khoản phí</th>
            <th scope="col">Số tiền</th>
            {{!-- <th scope="col">Diện tích (m^2)</th>
            <th scope="col">Gửi xe</th>
            <th scope="col"></th> --}}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">1</th>
                <td>Nộp tiền cho HTA</td>
                <td>5000000</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Nộp tiền cho VMP</td>
                <td>5000000</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Nộp tiền cho TTP</td>
                <td>5000000</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Nộp tiền cho NTN</td>
                <td>5000000</td>
            </tr>
            {{!-- {{#each accommodation}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.houseId}}</td>
                    <td>{{this.householder}}</td>
                    <td>{{this.area}}</td>
                    <td>{{this.parkingLot}}</td>
                    <td>
                        <a href="/accom/{{this._id}}/edit" class="btn btn-warning">Chỉnh sửa</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-accom">Xoá</a>
                    </td>
                </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    You have nothing left!  
                </td>
            </tr>
            {{/each}} --}}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" id="btn-my-payment">
        Khoản tiền của tôi
        <i class="bi bi-arrow-bar-right"></i>
    </button>
</div>

{{!-- require login --}}
<div class="modal fade" id="requireLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn cần đăng nhập để dùng chức năng này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                <button id="btn-login" type="button" class="btn btn-primary">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>

<script>
    const btnMyPayment = document.getElementById('btn-my-payment')
    const requireLoginModel = new bootstrap.Modal(document.getElementById('requireLogin'));

    // xử lý nút nộp tiền của cá nhân
    btnMyPayment.onclick = function () {
        if ('{{info.username}}' === '') {
            requireLoginModel.show()
        } else {
            window.location.href = '/me/login';
        }  
    }
</script>
