<div class="mt-4">
    <h2>Các khoản phí</h2>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
                <th scope="col">Mã căn hộ</th>                
                {{!-- <th scope="col">Mã khoản phí</th> --}}
                <th scope="col">Tên khoản phí</th>
                {{!-- <th scope="col">Đơn giá</th>
                <th scope="col">Diện tích</th> --}}
                <th scope="col">Tiền phải nộp</th>
                <th scope="col">Tiền đã nộp</th>
                <th scope="col">Loại khoản phí</th>
                <th scope="col">Thời gian thu</th>
                <th scope="col">Hạn đóng</th>
                <th scope="col">Ngày nộp tiền</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Ghi chú</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each payment}}
            <tr>
                <th  scope="row">{{this.houseId}}</th>
                {{!-- <td>{{this.feeId}}</td> --}}
                {{#each ../fee}}
                    {{#if (isEqual this.feeId ../this.feeId)}}
                        <td>{{this.name}}</td>
                        {{!-- <td>{{this.rate}}</td> --}}
                    {{/if}}
                {{/each}}
                {{!-- {{#each ../accom}}
                    {{#if (isEqual this.houseId ../this.houseId)}}
                        <td>{{this.area}}</td>
                    {{/if}}
                {{/each}} --}}
                <td>{{this.totalPrice}} VNĐ</td>
                {{#if (isEqual this.paid 0)}}
                    <td>0 VNĐ</td>
                {{else}}
                    <td>{{this.paid}} VNĐ</td>
                {{/if}}
                {{#each ../fee}}
                    {{#if (isEqual this.feeId ../this.feeId)}}
                        <td>{{this.type}}</td>
                        <td>{{this.time}}</td>
                        <td>{{this.deadline}}</td>
                    {{/if}}
                {{/each}}
                <td>{{this.payDate}}</td>
                {{#if (isEqual this.status true)}}
                    <td>Đã nộp</td> 
                {{else}}
                    <td>Chưa nộp</td>
                {{/if}}
                {{#each ../fee}}
                    {{#if (isEqual this.feeId ../this.feeId)}}
                        <td>{{this.note}}</td>
                    {{/if}}
                {{/each}}
                <td>
                    <a href="/payment/{{this._id}}/edit" class="btn btn-warning">Chỉnh sửa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="12" class="text-center">
                    You have nothing left!
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
