<div class="mt-4">
    <h2>Quản lý các khoản phí</h2>
    <button type="button" class="btn btn-light"><a href="/fee/create">
            <i class="bi bi-plus-circle-dotted"></i>
            Thêm khoản phí
        </a></button>
    <div class="mb-3">
        <label for="feeNameFilter1" class="form-label">Tên khoản phí:</label>
        <input type="text" class="form-control" id="feeNameFilter1">
    </div>
    <div class="mb-3">
        <label for="typeFilter" class="form-label">Loại khoản phí:</label>
        <select class="form-select" id="typeFilter">
            <option value="">Tất cả</option>
            <option value="Bắt buộc">Bắt buộc</option>
            <option value="Tự nguyện">Tự nguyện</option>
        </select>
    </div>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã khoản phí</th>
                <th scope="col">Tên khoản phí</th>
                <th scope="col">Đơn giá(VNĐ/tháng)</th>
                <th scope="col">Loại khoản phí</th>
                <th scope="col">Thời gian thu</th>
                <th scope="col">Hạn đóng</th>
                <th scope="col">Ghi chú</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each fee}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.feeId}}</td>
                <td>{{this.name}}</td>
                <td>{{formatNumber this.rate}}</td>
                <td>{{this.type}}</td>
                <td>{{this.time}}</td>
                <td>{{this.deadline}}</td>
                <td>{{this.note}}</td>
                <td>
                    <a href="/fee/{{this._id}}/edit" class="btn btn-warning">Chỉnh sửa</a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-fee">Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="9" class="text-center">
                    You have nothing left!
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm delete --}}
<div class="modal fade" id="delete-fee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CẢNH BÁO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xoá khoản phí này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-fee" type="button" class="btn btn-danger">Vẫn Xoá</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete form --}}
<form name="delete-fee-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modelComfirmDelete = document.getElementById('delete-fee')
        var btnComfirmDelete = document.getElementById('btn-delete-fee')
        var deleteForm = document.forms['delete-fee-form']
        var feeId

        // xử lý nút xoá
        modelComfirmDelete.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            feeId = button.getAttribute('data-id')
        })

        btnComfirmDelete.onclick = function () {
            {{!-- alert(feeId) --}}
            deleteForm.action = '/fee/' + feeId + '/permanent?_method=DELETE'
            deleteForm.submit()
        }
        
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var feeNameFilter1 = document.getElementById("feeNameFilter1");
        var typeFilter = document.getElementById("typeFilter");
        var rows = document.querySelectorAll("tbody tr");

        feeNameFilter1.addEventListener("input", filterTable);
        typeFilter.addEventListener("change", filterTable);
        function filterTable() {
            var feeNameValue = feeNameFilter1.value.toLowerCase();
            var typeValue = typeFilter.value;

            // Loop through each row and hide/show based on filter criteria
            rows.forEach(function (row) {
                var feeName = row.querySelector("td:nth-child(3)").textContent.toLowerCase();
                var type = row.querySelector("td:nth-child(5)").textContent; // Assuming status is in the 9th column

                var feeNameMatch = feeName.includes(feeNameValue);
                var typeMatch = (typeValue === "" || type === typeValue);

                if (feeNameMatch && typeMatch) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }
    });
</script>