<form method="GET" id="filterForm">
  <div class="col-auto my-3">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Loại khoản phí</label>
    <select class="custom-select mr-sm-2" name="option" onchange="submit()">
      <option selected>Tất cả</option>
      <option value="1">Đã thanh toán</option>
      <option value="2">Chưa thanh toán</option>
      <option value="3">Tự nguyện</option>
    </select>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Thời gian</th>
      <th scope="col">Tên khoản phí</th>
      <th scope="col">Đơn giá</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Thành tiền</th>
      <th scope="col">Loại khoản phí</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{@index 1}}</td>
      <td>{{this.time}}</td>
      <td>{{this.name}}</td>
      <td>{{this.rate}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.amount}} VND</td>
      <td>{{this.type}}</td>
      <td>{{this.status}}</td>
      <td>{{this.note}}</td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" align="right"><span id="totalFeeText">Tổng phí chưa thanh toán:</span></td>
      <td><span id="totalFee"></span></td>
    </tr>
  </tfoot>
</table>

<script>
  
   function submit() {
    document.getElementById('filterForm').submit();
  }

  // Dữ liệu được truyền từ backend
  const data = {{ data }};

  // Hiển thị dữ liệu và tính tổng phí chưa thanh toán
  let totalUnpaidFee = 10000;
  if (data) {
    data.forEach((item, index) => {
      if (item.status === 'chưa thanh toán') {
        totalUnpaidFee += item.amount;
      }
    });
  }

  // Hiển thị tổng phí chưa thanh toán
  document.getElementById('totalFee').textContent = totalUnpaidFee.toLocaleString('vi-VN') + ' VND';
</script>