<div class="mt-4">
    <h2>THÔNG TIN CHI TIẾT</h2>
    <a href="/pop/"><i class="bi bi-arrow-left-circle"></i> Quay lại</a>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Tuổi</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Chủ hộ?</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each pop}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.Id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.age}}</td>
                    <td>{{this.gender}}</td>
                    <td>{{this.phoneNumber}}</td>
                    <td>{{this.email}}</td>
                    <td>
                        {{#if this.isHouseholder}}
                            Yep
                        {{/if}}
                    </td>
                    <td>
                        <a href="/pop/{{this._id}}/{{../_id}}/edit" class="btn btn-warning">Chỉnh sửa</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-pop">Xoá</a>
                    </td>
                </tr>
            {{!-- {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    You are admin?  
                </td>
            </tr> --}}
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    
</script>
