<div class="mt-4">
    <h2>THÔNG TIN CHI TIẾT</h2>
    <a href="/pop/"><i class="bi bi-arrow-left-circle"></i> Quay lại</a>    
    <div class="btn btn-light"><a href="/pop/{{houseId}}/create">
        <i class="bi bi-plus-circle-dotted"></i>
        Thêm nhân khẩu
    </a></div>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Quan hệ với chủ hộ</th>
            <th scope="col">Lưu trú</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each resident}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.Id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.birthday}}</td>
                    <td>{{this.gender}}</td>
                    <td>{{this.phoneNumber}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.relation}}</td>
                    <td>{{this.statusResident}}</td>
                    <td>
                        <a href="/pop/{{this._id}}/edit-2" class="btn btn-warning">Chỉnh sửa</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-pop">Xoá</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="12" class="text-center">
                        You have nothing left!
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" id="btn-import"><i class="bi bi-upload"></i></button>
    <form name="importForm" action="/pop/{{houseId}}/import" method="post" enctype="multipart/form-data">
        <input type="file" id="fileImport" name="fileImport" accept=".xlsx, .xls" style="display: none">
    </form>
</div>

{{!-- confirm delete --}}
<div class="modal fade" id="delete-pop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CẢNH BÁO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xoá khoản phí này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-pop" type="button" class="btn btn-danger">Vẫn Xoá</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete form --}}
<form name="delete-pop-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modelComfirmDelete = document.getElementById('delete-pop')
        var btnComfirmDelete = document.getElementById('btn-delete-pop')
        var btnImport = document.getElementById('btn-import');
        var deleteForm = document.forms['delete-pop-form']
        var popId

        // xử lý nút xoá
        modelComfirmDelete.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            popId = button.getAttribute('data-id')
        })

        btnComfirmDelete.onclick = function () {
            {{!-- alert(popId) --}}
            deleteForm.action = '/pop/' + popId + '?_method=DELETE'
            deleteForm.submit()
        }

        btnImport.onclick = function () {
            fileImport.click();
        }
        fileImport.addEventListener('change', function() {
            importForm.submit();
        });
    });
</script>
