<div class="mt-4">
    <h3>Cập nhật dân cư {{householderId}} {{pop._id }}</h3>
    <a href="/pop/{{pop.houseId}}/detail"><i class="bi bi-arrow-left-circle"></i> Quay lại</a>
    <form action="/pop/{{pop._id}}/admin?_method=PUT" method="POST">
        <div class="mb-3">
            <div class="row">
                <div class="col-md-8">
                    <label for="description" class="form-label">Số căn cước công dân</label>
                    <input type="text" class="form-control" id="Id" name="Id" value="{{pop.Id}}" required>
                </div>
                <div class="col-md-4">
                    <label for="houseId" class="form-label">Mã căn hộ</label>
                    <input type="text" class="form-control" id="houseId" name="houseId" value="{{pop.houseId}}" readonly>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="description" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{pop.name}}" required>
                </div>
                <div class="col-md-3">
                    <label for="birthday" class="form-label">Ngày sinh</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" value="{{pop.birthday}}" required>
                </div>
                <div class="col-md-3">
                    <label for="gender" class="form-label">Giới tính</label>
                    <select class="form-select" name="gender" id="gender" aria-label="Default select example">
                        <option value="Nam" selected>Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
            </div>
        </div>

        {{!-- <div class="mb-3">
            <label for="description" class="form-label">Tuổi</label>
            <input type="text" class="form-control" id="age" name="age" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Giới tính</label>
            <select class="form-select" name="gender" aria-label="Default select example">
                <option value="Nam" selected>Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>
        </div> --}}


        {{!-- <div class="mb-3">
            <label for="description" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div> --}}

        <div class="mb-3">
            <div class="row">
                <div class="col-md-8">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{pop.email}}">
                </div>
                <div class="col-md-4">
                    <label for="phoneNumber" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="{{pop.phoneNumber}}">
                </div>
            </div>
        </div>

        {{!-- <div class="mb-3">
            <label for="description" class="form-label">Mã căn hộ</label>
            <input type="text" class="form-control" id="houseId" name="houseId" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Là chủ hộ</label>
            <select class="form-select" name="isHouseholder" aria-label="Default select example">
                <option value="false" selected>Không</option>
                <option value="true">Có</option>
            </select>
        </div> --}}

        <div class="mb-3">
            <label for="relation" class="form-label">Quan hệ với chủ hộ</label>
            <select class="form-select" name="relation" id="relationSelect" aria-label="Default select example">
                <option value="Chủ hộ">Chủ hộ</option>
                <option value="Vợ">Vợ</option>
                <option value="Chồng">Chồng</option>
                <option value="Bố">Bố</option>
                <option value="Mẹ">Mẹ</option>
                <option value="Con trai">Con trai</option>
                <option value="Con gái">Con gái</option>
                <option value="Họ hàng">Họ hàng</option>
                <option value="Khách thuê trọ">Khách thuê trọ</option>
                <option value="Khác">Khác</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="relation" class="form-label">Thông tin lưu trú</label>
            <select class="form-select" name="statusResident" aria-label="Default select example" id="statusResident">
                <option value="Thường trú" selected>Thường trú</option>
                <option value="Tạm trú">Tạm trú</option>
                <option value="Tạm vắng">Tạm vắng</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" id="btn-save">Lưu</button>
    </form>
</div>

{{!-- relation alert --}}
<div class="modal fade" id="relation-alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CẢNH BÁO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Đã có thành viên khác làm chủ hộ!!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const gender = document.getElementById('gender');
        const relation = document.getElementById('relationSelect');
        const staus = document.getElementById('statusResident');
        const btnSave = document.getElementById('btn-save');
        var relationModal = new bootstrap.Modal(document.getElementById('relation-alert'));

        for (var i = 0; i < gender.options.length; i++) {
            var option = gender.options[i];
            
            // Kiểm tra điều kiện và thêm thuộc tính selected nếu điều kiện được đáp ứng
            if (option.value === "{{pop.gender}}") {
                option.selected = true;
            }
        }
        for (var i = 0; i < relation.options.length; i++) {
            var option = relation.options[i];
            
            // Kiểm tra điều kiện và thêm thuộc tính selected nếu điều kiện được đáp ứng
            if (option.value === "{{pop.relation}}") {
                option.selected = true;
            }
        }
        for (var i = 0; i < staus.options.length; i++) {
            var option = staus.options[i];
            
            // Kiểm tra điều kiện và thêm thuộc tính selected nếu điều kiện được đáp ứng
            if (option.value === "{{pop.statusResident}}") {
                option.selected = true;
            }
        }

        //
        btnSave.onclick = function (e) {
            if ("{{householderId}}" !== "{{pop._id }}" && "{{householderId}}" !== "") {
                e.preventDefault();
                relationModal.show();
            }
        }
    })
</script>
