<div class="mt-4">
    <h2>DANH SÁCH NHÂN KHẨU</h2>
    <button type="button" class="btn btn-light"><a href="/pop/create">
        <i class="bi bi-plus-circle-dotted"></i>
        Thêm nhân khẩu
    </a></button>
    <button type="button" class="btn btn-secondary"><a href="/pop/deleted-pops">
        <i class="bi bi-trash3-fill"></i>
        Thùng rác
    </a></button>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Mã chủ hộ</th>
            <th scope="col">Tên chủ hộ</th>
            <th scope="col">Mã căn hộ</th>
            <th scope="col">Số lượng nhân khẩu</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each pop}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this}}</td>
                    <td>{{this}}</td>
                    <td>{{this}}</td>
                    <td>10</td>
                    <td>
                        <a href="/accom/{{this._id}}/edit" class="btn btn-warning">Chỉnh sửa</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-accom">Xoá</a>
                    </td>
                </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Chưa ai thuê nhà!  
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>