<div class="mt-4">
    <h2>DANH SÁCH NHÂN KHẨU</h2>
    <button type="button" class="btn btn-secondary"><a href="/accom/deleted-accom">
        <i class="bi bi-trash3-fill"></i>
        Thùng rác
    </a></button>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã căn hộ</th>
                <th scope="col">Tên chủ hộ</th>
                <th scope="col">Số lượng nhân khẩu</th>
                <th scope="col">[chức năng thêm?]</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each accom}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.houseId}}</td>
                    {{#if (isEqual this.owned false)}}
                        <td>Chưa có chủ</td>
                    {{else}} 
                        {{#each ../resident}}
                            {{#if (isEqual this.houseId ../this.houseId)}}
                                {{#if (isEqual this.relation 'Chủ hộ')}}
                                    <td>{{this.name}}</td>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                    <td>{{countWithFieldValue ../resident "houseId" this.houseId}}</td>
                    
                    <td>
                        <a href="/pop/{{this.houseId}}/detail" class="additionalFuntion"><i class="bi bi-arrow-bar-right"></i> Chi tiết</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="6" class="text-center">
                        You have nothing left!
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
