<div class="mt-4">
    <h2>DANH SÁCH NHÂN KHẨU</h2>
    <button type="button" class="btn btn-light"><a href="/pop/create">
        <i class="bi bi-plus-circle-dotted"></i>
        Thêm nhân khẩu
    </a></button>
    <button type="button" class="btn btn-secondary"><a href="/pop/deleted-pops">
        <i class="bi bi-trash3-fill"></i>
        Thùng rác
    </a></button>
    <table class="table table-hover mt-2">
        <thead class="table-active">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Mã chủ hộ</th>
            <th scope="col">Tên chủ hộ</th>
            <th scope="col">Mã căn hộ</th>
            <th scope="col">Số lượng nhân khẩu</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each resident}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.Id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.houseId}}</td>
                    <td>Chưa biết</td>
                    <td><a href="#"><i class="bi bi-arrow-bar-right"></i></a></td>
                </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Chưa ai thuê nhà!  
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>