<div class="mt-4">
    <h2>Căn Hộ Đã Xoá Gần Đây</h2>
    <a href="/accom/my-accommodations"><i class="bi bi-arrow-left-circle"></i> Quay lại</a>
    <table class="table mt-2">
        <thead class="table-active">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Mã căn hộ</th>
            <th scope="col">Chủ hộ</th>
            <th scope="col">Diện tích (m^2)</th>
            <th scope="col">Gửi xe</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each accommodation}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.houseId}}</td>
                    <td>{{this.householder}}</td>
                    <td>{{this.area}}</td>
                    <td>{{this.parkingLot}}</td>
                    <td>
                        <a href="/accom/{{this._id}}/restore?_method=PATCH" class="btn btn-warning" data-id="{{this._id}}">Khôi phục</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#destroy-accom">Xoá</a>
                    </td>
                </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    You have nothing left!  
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>








{{!-- confirm destroy --}}
<div class="modal fade" id="destroy-accom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CẢNH BÁO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xoá thông tin về căn hộ này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-destroy-accom" type="button" class="btn btn-danger">Xoá</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- destroy form --}}
<form name="destroy-accom-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modelComfirmdestroy = document.getElementById('destroy-accom')
        var btnComfirmdestroy = document.getElementById('btn-destroy-accom')
        var destroyForm = document.forms['destroy-accom-form']
        var accomId

        // xử lý nút xoá
        modelComfirmdestroy.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            accomId = button.getAttribute('data-id')
        })

        btnComfirmdestroy.onclick = function () {
            {{!-- alert(accomId) --}}
            destroyForm.action = '/accom/' + accomId + '/permanent?_method=DELETE'
            destroyForm.submit()
        }
    });
</script>
