<div class="mt-4" style="color:#ffff">
    <h3>Cập nhật căn hộ</h3>
    <a href="/accom/my-accommodations"><i class="bi bi-arrow-left-circle"></i> Quay lại</a>
    <form action="/accom/{{accom._id}}?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="description" class="form-label">Mã căn hộ </label>
            <input type="text" class="form-control" value="{{accom.houseId}}" id="houseId" name="houseId">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mã chủ hộ</label>
            <input type="text" class="form-control" value="{{accom.householder}}" id="householder" name="householder">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Diện tích</label>
            <input type="text" class="form-control" value="{{accom.area}}" id="area" name="area">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Gửi xe</label>
            <select class="form-select" name="parkingLot" id="parkingLotSelect" aria-label="Default select example">
                <option value="Không gửi xe">Không gửi xe</option>
                <option value="Xe máy">Xe máy</option>
                <option value="Ô tô">Ô tô</option>
                <option value="Xe đạp">Xe đạp</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
</div>

<script>
    var parkingLotSelect = document.getElementById("parkingLotSelect");

    for (var i = 0; i < parkingLotSelect.options.length; i++) {
        var option = parkingLotSelect.options[i];
        
        // Kiểm tra điều kiện và thêm thuộc tính selected nếu điều kiện được đáp ứng
        if (option.value === "{{accom.parkingLot}}") {
            option.selected = true;
        }
    }
</script>
