<div class="mt-4">
    <h2>Danh Sách Căn Hộ</h2>
    <button type="button" class="btn btn-light"><a href="/accom/create">
        <i class="bi bi-plus-circle-dotted"></i>
        Thêm căn hộ
    </a></button>
    <button type="button" class="btn btn-secondary"><a href="/accom/deleted-accom">
        <i class="bi bi-trash3-fill"></i>
        Thùng rác
    </a></button>
    <table class="table table-hover mt-2">
        <thead class="table-active">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Mã căn hộ</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Diện tích (m^2)</th>
            <th scope="col">Gửi xe</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each accommodation}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.houseId}}</td>
                    {{#if (isEqual this.owned true)}}
                        <td>Đã có chủ</td>
                    {{else}}
                        <td>Chưa có chủ</td>
                    {{/if}}
                    <td>{{this.area}}</td>
                    <td>{{this.parkingLot}}</td>
                    <td>
                        <a href="/accom/{{this._id}}/edit" class="btn btn-warning">Chỉnh sửa</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-accom">Xoá</a>
                    </td>
                </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    You have nothing left!  
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/accom/export"><button type="button" class="btn btn-primary" id="btn-export"><i class="bi bi-floppy-fill"></i></button></a>
    <button type="button" class="btn btn-primary" id="btn-import"><i class="bi bi-upload"></i></button>
    <input type="file" id="fileImport" accept=".xlsx, .xls" style="display: none">
</div>

{{!-- confirm delete --}}
<div class="modal fade" id="delete-accom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CẢNH BÁO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xoá thông tin về căn hộ này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-accom" type="button" class="btn btn-danger">Vẫn Xoá</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete form --}}
<form name="delete-accom-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modelComfirmDelete = document.getElementById('delete-accom');
        var btnComfirmDelete = document.getElementById('btn-delete-accom');
        var btnImport = document.getElementById('btn-import');
        var fileImport = document.getElementById('fileImport');
        var deleteForm = document.forms['delete-accom-form'];
        var accomId;

        // xử lý nút xoá
        modelComfirmDelete.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            accomId = button.getAttribute('data-id')
        })

        btnComfirmDelete.onclick = function () {
            {{!-- alert(accomId) --}}
            deleteForm.action = '/accom/' + accomId + '?_method=DELETE'
            deleteForm.submit()
        }

        btnImport.onclick = function () {
            fileImport.click();
        }
    });
</script>
